h1{

text-align: center;
color: blue;


}

a{

text-align: center;
color: blue;

}
body{

background-color: black;

}
a{

    
    
    color: blue;
    
    
    }
    h3{

        text-align: right;
        display: inline-block;
        
        }

        nav{

            text-align: right;
            background-color: black;
            text-decoration-color: blue;
            
            }
            body{

            text-align: center;
            color: black;
            }
